.headers > h1 {
    margin-bottom: 20px;
}


.headers > h2 {
    font-size: 30px;
    margin: 40px 0;
}


.imageStyle > img{
    width: 300px;
    height: auto;
}


.professorBlock{
    padding-bottom: 40px;
}


.infoStyle > h3{
    font-size: 27px;
}


.infoStyle > p {
    color: #575757;
    font-size: 18px;
}


.linkStyle {
    text-decoration: none;
    color: #ff4d11;
}


.linkStyle:hover {
    text-decoration: none;
    color: #ff6d3d;
}