.header > h1 {
    font-family: Arial, bold;
    font-size: 36pt;
    margin-top: 20px;
    margin-bottom: 20px;
}


.header > h2 {
    font-family: Arial, bold;
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 20px;
}


.images {
    margin-bottom: 18pt;
}