.headers > h1 {
    padding-bottom: 20px;
}


.imageStyle{
    display: block;
    width: 400px;
    height: auto;
    padding-bottom: 40px;
}


@media screen and (min-width: 320px) and (max-width: 768px){
    .imageStyle{
        width: 300px;
        height: auto;
    }
}