.top {
    vertical-align: top;
    display: inline-block;
}

.search {
    cursor: pointer;
}

.navDropdown {
    position: relative;
    background-color: none;
    background-image: none;
    text-decoration: none;
    margin: 1px 15px 1px 15px;
    border: none;
    border-bottom: none;
    background: none;
    color: gray;
    text-decoration-color: none;
    cursor: pointer;
}

.navDropdown::after {
    position: absolute;
    content: '';
    border: none;
    border-bottom: none;
}

.navDropdown::before {
    position: absolute;
    content: '';
    border: none;
    border-bottom: none;
}