.headers > h1{
    padding-bottom: 20px;
}


.imageStyle{
    width: 250px;
    height: auto;
    padding: 20px 20px 20px 0;
}


.linkStyle {
    text-decoration: none;
    color: #ff4d11;
}


.linkStyle:hover {
    text-decoration: none;
    color: #fd8157;
}


.infoStyle > p{
    color: gray;
    margin: 0;
}


@media screen and (min-width: 320px) and (max-width: 425px){
    .imageStyle {
        width: 130px;
        height: auto;
    }

    .infoStyle > p{
        margin: 0;
        padding: 0;
    }
}


@media screen and (min-width: 425px) and (max-width: 768px){
    .imageStyle {
        width: 200px;
        height: auto;
    }

    .infoStyle > p{
        margin: 0;
        padding: 0;
    }
}