.headers > h1{
    padding-bottom: 20px;
}


.imageStyle{
    width: 250px;
    height: auto;
    padding: 20px 20px 20px 0;
}


.linkStyle {
    text-decoration: none;
    color: #ff4d11;
}


.linkStyle:hover {
    text-decoration: none;
    color: #fd8157;
}


.linkStyle > h2{
    font-size: 22px;
}


.infoStyle > p{
    font-size: 18px;
    color: gray;
    margin: 0;
}