.head1 {
    margin-bottom: 20px;
}

.aboutBlock > h2 {
    font-size: 18pt;
    margin-bottom: 10px;
}

.aboutBlock > p {
    font-size: 13pt;
    color: #575757;
    
}

.list {
    list-style: none;
    padding: 0;
    margin-left: 0;
    color: #575757;
}