.loadingContainer {

    transform-origin: center;
    z-index: 1;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    position: fixed;
    margin-left: auto; 
    margin-right: auto; 
    width: 100px; /* Need a specific value to work */
}

.loadingAnimation {
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    margin: auto;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 2s infinite linear;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}