.subMenu{
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 0;
    transform: translateX(100%);
    transition: all 0.3s;
}


.subMenu.active{
    transform: translateX(0);
}


.headerSubMenu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    color: rgb(85, 85, 85);
    line-height: 80px;
    padding-left: 10px;
}


.headerSubMenu > h5{
    font-size: 16px;
    margin: 0;
}


.headerSubMenu > img{
    height: 35px;
    width: auto;
    float: left;
}


.contentSubMenu{
    width: 100%;
    height: calc(100% + 40px);
    background-color: rgb(235, 235, 235); 
    overflow: auto;
}


.listStyle {
    list-style-type: none;
    padding-top: 20px;
}


.listStyle > li {
    padding-bottom: 10px;
}


.linkStyle > a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(121, 121, 121);
}

.linkStyle > span{
    float: right;
    display: flex;
    justify-content:flex-end;
    padding-right: 10px;
    color: rgb(136, 136, 136);
}

@media screen and (min-width:768px) and (max-width: 1200px){
    .headerSubMenu > h5{
        font-size: 20px;
    }

    .linkStyle > a{
        font-size: 16px;
    }
}