.speciality{
    display: block;
    margin: auto
}


@media((min-width: 320px) and (max-width: 575px)){
    .speciality{
        width: auto;
        height: 415px;
    }
}


@media((min-width: 575px) and (max-width: 768px)){
    .speciality{
        width: auto;
        height: 430px;
    }
}


@media((min-width: 768px) and (max-width: 991px)){
    .speciality{
        width: auto;
        height: 500px;
    }
}


@media((min-width: 991px) and (max-width: 1200px)){
    .speciality{
        width: auto;
        height: 500px;
    }
}