.urlStyle > a {
    color: #ff4d11;
    text-decoration: none;
}


.header > h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}


.header > h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}


.imageStyle {
    margin-top: 30px;
}

.imageStyle > img {
    width: 90%;
    height: auto;
}


@media screen and (min-width: 320px) and (max-width: 768px){
    .imageStyle{
        display: none;
    }
}