.header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}



.textStyle{
    margin: 50px 0;
}


.textStyle > p {
    font-size: 13pt;
    color: #575757;
    text-align: center;
}


.video {
    display: flex;
    justify-content: center;
}

.video > iframe{
    width: 800px;
    height: 400px;
}


@media screen and (min-width: 320px) and (max-width: 425px){
    .video > iframe{
        width: 300px;
        height: 200px;
    }

    .textStyle > p{
        font-size: 16px;
    }
}

