.textStyle > h1{
    margin-bottom: 20px;
}


.listStyle {
    list-style-type: none;
    padding: 0;
}


.linkStyle > a{
    text-decoration: none;
    color: #ff4d11;
}


.linkStyle > a:hover {
    color: #fd7446;
}