.textStyle > h1{
    margin-bottom: 20px;
}


.listStyle {
    list-style-type: none;
    padding: 0;
}


.listStyle > li {
    padding: 5px 0;
}

.linkStyle > a{
    font-size: 19px;
    text-decoration: none;
    color: #ff4d11;
}


.linkStyle > a:hover {
    color: #fd7446;
}