.introBlock{
    width: 100%;
    height: 100vh;
    background: no-repeat url('../../../public/images//education/backgroundCredit.png');
    margin: 0;
    background-size: 100% 100vh;
}


.introText{
    display: block;
    margin: auto;
    width: 70%;
    padding-top: 40px;
}


.introText >h1{
    font-size: 45px;
    font-weight: bold;
    border-bottom: 2px solid #ff4d11;
    padding: 6px 0;
    margin-bottom: 20px;
}


.introText > p{
    font-size: 20px;
}


.infoDirection{
    padding-top: 50px;
    justify-content: center;
    gap: 20px;
}


.parametersBlock {
    border: 3px solid rgb(207, 207, 207);
    border-radius: 25px;
    text-align: center;
    transition: transform .2s;
    background-color: white;
    padding: 0;
}


.parametersBlock:hover{
    border-color: #ff4d11;
    transform: scale(1.1)
}


.parametersBlock > h5 {
    font-size: 20px;
    color: gray;
}


.parametersBlock > p {
    font-size: 18px;
    font-weight: bold;
}

.infoBlock{
    justify-content: center;
}

.learnBlock{
    border: 3px solid rgb(207, 207, 207);
    border-radius: 25px;
    text-align: left;
    background-color: white;
    margin: 10px;
}


.learnBlock > p {
    width: 70%;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}


.connectionBlock {
    width: 60%;
    border: 3px solid rgb(207, 207, 207);
    border-radius: 25px;
    text-align: center;
    margin: 25px auto;
    background-color: white;
}


.iconStyle{
    width: 80px;
    height: auto;
    float: right;
    margin: 20px;
}


.header > h1 {
    text-align: center;
    margin: 50px 0 25px 0;
    font-size: 42px;
}


.textStyle > p{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 20px;
}


.textStyle > a{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color:#ff4d11
}


@media screen and (min-width: 320px) and (max-width: 768px){
    .introBlock{
        background:
        linear-gradient(rgba(44, 44, 44, 0.7), rgba(0, 0, 0, 0.8)),
        url('../../../public/images/education/backgroundPhonesCredit.jpg');
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .introText{
        width: 80%;
        padding-top: 20px;
        color: white;
    }

    .introText > h1{
        font-size: 35px;
    }

    .introText>p {
        font-size: 15px;
    }

    .infoDirection{
        padding-top: 10px;
        gap: 10px;
    }

    .parametersBlock{
        width: 46%;
    }

    .parametersBlock > h5{
        font-size: 18px;
    }

    .parametersBlock > p{
        font-size: 16px;
    }

    .learnBlock{
        width: 95%;
    }

    .learnBlock > p{
        font-size: 20px;
    }

    .iconStyle{
        width: 50px;
        height: auto;
        margin: 5% 10px;
    }

    .connectionBlock{
        width: 90%;
        justify-content: center;
    }

    .textStyle > p{
        font-size: 20px;
    }

    .textStyle > a{
        font-size: 20px;
    }

    .header > h1{
        font-size: 30px;
    }
}


@media screen and (min-width: 768px) and (max-width: 990px){
    .introBlock{
        background:
        linear-gradient(rgba(44, 44, 44, 0.7), rgba(0, 0, 0, 0.8)),
        url('../../../public/images/education/backgroundPhonesCredit.jpg');
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .introText{
        width: 80%;
        text-align: left;
        padding-top: 20px;
        color: white;
    }

    .introText > h1{
        font-size: 42px;
        width: 80%;
    }

    .introText>p {
        width: 80%;
        font-size: 25px;
    }

    .infoDirection{
        padding-top: 10px;
        gap: 10px;
    }
    
    .parametersBlock{
        width: 46%;
    }

    .parametersBlock > h5{
        font-size: 20px;
    }

    .parametersBlock > p{
        font-size: 18px;
    }

    .learnBlock{
        width: 70%;
    }

    .learnBlock > p{
        font-size: 25px;
    }

    .iconStyle{
        width: 50px;
        height: auto;
        margin: 5% 10px;
    }

    .connectionBlock{
        width: 90%;
        justify-content: center;
    }

    .textStyle > p{
        font-size: 20px;
    }

    .textStyle > a{
        font-size: 25px;
    }

    .header > h1{
        font-size: 42px;
    }
}


@media screen and (min-width: 320px) and (max-width: 425px) and (min-height: 800px){
    .introText > h1{
        font-size: 40px;
    }

    .introText>p {
        font-size: 18px;
    }
}