.header > h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}


.tableStyles {
    border-radius: 25px;
    padding: 40px;
} 


.tableCell {
    background-color: #ffffff;
}

.tableCell > td {
    font-size: 14pt;
}

.tableHeader {
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.tableHeader > td {
    font-size: 14pt;
}

.tableHeader > th {
    font-size: 16pt;
    width: 285px;
}
