.header {
    margin-bottom: 30px;
}


.infoStyle > h3 {
    font-size: 20px;
}


.infoStyle > p{
    font-size: 20px;
    color: gray;
    margin-bottom: 0;
}


.urlStyle {
    font-size: 20px;
    text-decoration: none;
    color: #ff4d11;
}


.urlStyle:hover{
    color: #fc7142;
    cursor: pointer;
}


.tableStyle{
    margin: 30px 0;
    background-color: white;
    width: 60%;
    border-radius: 10px;
}


.textTable{
    font-size: 20px;
}


.mapStyle {
    margin: 20px 0;
}


.important {
    font-size: 20px;
    color:#ff4d11;
    font-weight: bold;
}


.iconStyle{
    width: 25px;
    height: auto;
    float: left;
    margin-right: 15px;
}


.textStyle {
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}


.imageStyle{
    width: 300px;
    height: auto;
    border-radius: 10px;
    float: right;
    margin: 20px;
}