/* .alternativeNav > ul > li {
    margin: 10px 0 10px 0;
    list-style-type: none;
    font-size: 16pt;
} */

.alternativeNav {
    list-style-type: none;
    font-size: 16pt;
    background-color: white;
    padding: 0 10px 10px 10px;
}

.navbarPhonesAlert {
    background-color: #f2f2f2;

}

.modalBody {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.rowStyles {
    margin: 0 4%;
    width: 93vw;

}

.cardStyles {
    height: 20.5vh;
    width: 43vw;
    opacity: 0.9;
    background-color: #1e1e1e;
}

.cardStyles > div {
    padding: 0;
}

.cardStyles > div > div{
    line-height: 20.5vh;
    text-align: center;
    font-size: 12pt;
}

.colStyles {
    margin: 0;
    padding: 4px;
}

.colStyles > a:hover, .colStyles > a:visited, .colStyles > a:link, .colStyles > a:active {
    color: #e4e9f0;
    text-decoration: none;
}

.navbarSlider {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    display: flex;
    overflow-x: inherit;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Chrome and safari */
.navbarSlider::-webkit-scrollbar { 
    display: none;
}

.navbarSlider > div {
    width: 150px;
    background-color: #ff4d11;
    flex-shrink: 0;
    height: 150px;
}

.navIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 41px;
    padding: 0;

}

.navIcons > div {
    margin: 0 10px 0 0;
}

.hamburger {
    margin: 0;
    position: absolute;
    text-align: right;
    top: 50%;
    right: 2%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.showMenu {
    animation: open-menu 400ms ease-in-out forwards;
    transform-origin: center;
  }


@keyframes open-menu {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes close-menu {
    0% {width: 80%;}
    100% {width: 0;}
}