.specialtiesBlock{
    padding-bottom: 30px;
    margin: 0 20px;
}


.specialties{
    transition: transform .2s; /* Animation */
    margin: 0 2px 35px 2px;
}

.specialties >img{
    display: block;
    margin: auto;
    transition: transform .2s;
    width: auto;
    height: 100%;
}

.specialties >img:hover{
    transform: scale(1.1);
}


.header { 
    margin-top: 30px;
}


@media ((min-width: 1280px) and (max-width: 1440px)){
    .specialtiesBlock{
        padding-bottom: 10px;
    }
    
    
    .specialties > img{
        height: 575px;
        width: auto;
    }
}